<%- include('head') -%>
<%- include('header') -%>

    <section class=contactSubmitted>
      <h1>Votre message a bien été transmis</h1>
      <a href="/">Revenir à l'accueil</a>
    </section>

  <%- include('footer') -%>