<%- include('head') -%>
<%- include('header') -%>
  <main class="main-content" role="main">
    <section class=intro>
      <h1>Votre message a bien été transmis</h1>
      <a href="/">
        <button>Revenir à l'accueil</button>
      </a>
    </section>
  </main>
  <%- include('footer') -%>