</main>
<footer>
<section class="reseauxSociaux">
    <img src="img/instagram-1.png" alt="instagram">
    <img src="img/linkedin-1.png" alt="linkedin">
    <img src="img/tik-tok-21.png" alt="tik-tok">
    <img src="img/artstation-1.png" alt="artstation">
    <img src="img/yt-1.png" alt="youtube">
</section>

<img class="logoFooter" src="img/logo-eivissa-2.png" alt="logo d'Eivissa BARBE">
<p class="mentionsLegales">mentions légales mentions légales mentions légales mentions légales mentions légales</p>
    
</footer>
</body>
</html>