</main>
<footer>
<section class="reseauxSociaux">
    <img src="img/instagram-1.png" alt="instagram">
    <img src="img/linkedin-1.png" alt="linkedin">
    <img src="img/tik-tok-21.png" alt="tik-tok">
    <img src="img/artstation-1.png" alt="artstation">
    <img src="img/yt-1.png" alt="youtube">
</section>

<% if (locals.isLogged) { %> 
<<<<<<< HEAD
    <a class = "Logout" href="/logout">Logout</a>
<% } else { %>
    <a href="/login"><img class="logoFooter" src="img/logo-eivissa-2.png" alt="logo d'Eivissa BARBE / Lien vers page Admin"></a>
=======
    <a class= "logout" href="/logout">Logout</a>
<% } else { %>
    <a href="/login"><img class="logoFooter" src="img/logo-eivissa-2.png" alt="logo d'Eivissa BARBE / accès à la page Admin"></a>
>>>>>>> 622145b5122b5d32ead75e060cb21b527eafc346
<% } %>


<p class="mentionsLegales">mentions légales mentions légales mentions légales mentions légales mentions légales</p>
    
</footer>
</body>
</html>