<body>
  <header>
    <nav class="navbar dark-mode" >
      <a href="/">
        <img
          id="logoLeft"
          src="/img/logoEivissa1.png"
          alt="Logo de Eivissa Barbe / Retour à la page d'accueil"
        >
      </a>
      <ul class="navbar__links">
        <li class="navbar__link first"><a href="/">Accueil</a></li>
        <li class="navbar__link second"><a href="/#aPropos">à propos</a></li>
        <li class="navbar__logo">
          <a href="/">
            <img
              id="logoCenter"
              src="/img/logoEivissa1.png"
              alt="Logo de Eivissa Barbe / Retour à la page d'accueil"
            >
          </a>
        </li>
        <li class="navbar__link third">
          <a href="#domainesExpertises">Domaines d'Expertises</a>
        </li>
        <li class="navbar__link four"><a href="/portfolio">Portfolio</a></li>
        <li class="navbar__link five"><a href="/#formContact">Contact</a></li>
      </ul>
      <button class="burger">
        <span class="bar"></span>
      </button>
    </nav>
    <% if (locals.isLogged) { %>
    <h2 class="admin__title">Espace Admin</h2>
    <nav >
      <ul class="navbar__admins">
        <li class="themes"><a href="/themes">les Themes</a></li>
        <li class="realisations"><a href="/realisations">Les réalisations</a></li>
        <li class="contacts"><a href="/contacts">Les contacts</a></li>
        <li class="reseaux"><a href="/reseaux">Les reseaux</a></li>
        <li class="newsLetter"><a href="/newsletter">Les newsLetter</a></li>
      </ul>
    </nav>
    <% } %>
  </header>
  <main class="main-content">
