<%- include('head') -%>
<%- include('header') -%>
      <main class="main-content" role="main">
        <h1>portfolio</h1>
        <ul class="portfolioMenu">
          <li>Tous les projets</li>
          <li>Modélisation</li>
          <li>Caracter Design</li>
          <li>Showreel</li>
          <li>Animation</li>
          <li>Motion Design</li>
          <li>FXS</li>
        </ul>
      </main>
    <%- include('footer') -%>
