<%- include('head') -%>
<%- include('header') -%>
<section class="Portfolio">
  <h1>portfolio</h1>
  <ul class="portfolioMenu">
    <% themes.forEach(theme => { %>
        <li><%= theme %></li>
    <% }); %>
  </ul>
</section>
<%- include('footer') -%>
