<%- include('header') -%>
<section class="portfolio">
  <h1>portfolio</h1>
  <p>Avant liste</p>
  <nav role="navigationPortfolio">
  <ul class="portfolioMenu">
    <li>Tous les projets</li>
    <li>Modélisation</li>
    <li>Caracter Design</li>
    <li>Showreel</li>
    <li>Animation</li>
    <li>Motion Design</li>
    <li>FXS</li>
  </ul>
</nav>
  <p>Après liste</p>
</section>
<%- include('footer') -%>
