/******************************************************************
GENERAL
******************************************************************/

:root {
  --font-size: 1rem;
}

.light-mode {
  --navbar-color: #050819;
  --navbar-bg-color: #f0f0f0;
}

.dark-mode {
  --navbar-color: #d59c3c;
  --navbar-bg-color: #050819;
}

html {
  font-size: 62.5%;
  background-color: #030510;
}

body {
  max-width: 1920px;
  box-sizing: border-box;
  background-color: #050819;
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
nav,
.more,
p,
button {
  font-family: "Raleway", sans-serif;
}

h1 {
  background-color: var(--navbar-bg-color);
  font-size: clamp(17px, 5vw, 60px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 3.5rem auto 3rem;
  max-width: max-content;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

/*
h2 {
  font-size: clamp(12px, 5vw, 35px);
  font-family: Raleway; 
  font-weight: 200;

  text-transform: uppercase;
  letter-spacing: 0.2em;

  margin-top: 0rem;
  margin-bottom: 4rem;
  color: #d59c3c;
}*/

.admin__title {
  font-size: clamp(12px, 2vw, 35px);
  margin: 1rem auto;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: red;
}

p,
label {
  display: block;
  /* Make sure they are all on their own line */
  font-size: clamp(12px, 2vw, 20px);
  font-weight: 300;
  letter-spacing: 0.2em;
  color: #d59c3c;
  margin-top: 0rem;
  /*margin-bottom: 2rem;*/
  padding: 0;
  line-height: 1.35;
}

.Logout {
  font-size: clamp(20px, 5vw, 60px);
  color: #d59c3c;
  margin: 2rem auto;
}

input,
textarea {
  font-size: clamp(12px, 2vw, 20px);
  background-color: transparent;
  border: 1px solid #d59c3c;
  color: #d59c3c;
}

button {
  color: #d59c3c;
  border: #d59c3c solid 1px;
  padding: 1rem 2rem;
  background-color: transparent;
  font-size: clamp(15px, 2vw, 20px);
  font-family: Raleway;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.logout {
  color: #d59c3c;
  border: #d59c3c solid 1px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: transparent;
  font-size: clamp(20px, 5vw, 60px);
  font-family: Raleway;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

/******************************************************************
HEADER
******************************************************************/
header nav {
  border-bottom: #d59c3c solid 1.5px;
}

/*
header nav.no-border {
	border-bottom: none;
  }
*/
/* Variables */

/* Reset 
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}*/

ul {
  list-style: none;
}

.navbar {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--navbar-bg-color);
  color: var(--navbar-color);
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.navbar__link {
  padding: 0 10px;
}

.navbar__link > a {
  color: var(--navbar-color);
  text-decoration: none;
}

.navbar__logo {
  margin: 0 20%;
}

.burger {
  display: none;
}

/**************************************************************************
Footer
***************************************************************************/
footer {
  background-color: #050819;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer .reseauxSociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #050819;
}

footer .reseauxSociaux img {
  width: clamp(31px, 5vw, 80px);
  margin: 0 clamp(15px, 2vw, 20px);
  padding: 0;
  height: auto;
}

.logoFooter {
  width: clamp(56px, 5vw, 98px);
  height: auto;
  margin: auto;
  cursor: default;
}

/***********************************************************************/
/*********  Page Home **************************************************/
/***********************************************************************/

/*****************************/
/************Intro************/
/*      Page Home            */
/*****************************/

.intro {
  height: clamp(456px, 90vw, 869px);
  max-width: 1920px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Bannière_Intro-1199x543.png");
  background-size: cover;
  background-position: center;
  border-bottom: #d59c3c solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h1 {
  margin: 0 auto 3rem 10%;
  padding-top: 3.5rem;
  margin-bottom: 2.5rem;
  max-width: 80%;
}

.intro p {
  max-width: max-content;
  margin: 0 auto 0 10%;
  padding: 0;
  max-width: 70%;
}

.intro h2 {
  max-width: max-content;
  margin: 3rem auto 2rem 10%;
  max-width: 65%;
  line-height: 1.75;
}

.intro a  {
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  margin: 2rem auto 2rem 9vw;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

/*****************************/
/**********A propos***********/
/*      Page Home            */
/*****************************/

.aPropos {
  background-image: url("../img/Photo_Profil-767x496.png");
  background-color: #050819;
  background-size: 100% auto;
  /* Largeur à 100% et hauteur ajustée proportionnellement */
  background-position: center top;
  /* centré verticalement */
  background-repeat: no-repeat;
  /* éviter la répétition de l'image si elle est trop petite en hauteur */
  /*display: flex;*/
  flex-direction: column;
  align-content: end;
  padding-bottom: 4rem;
}

.aPropos h2 {
  font-size: clamp(19px, 3vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-bottom: 2rem;
  max-width: 65%;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
  padding-top: 40vw;
}

.aPropos h3 {
  font-family: Raleway;
  font-size: clamp(11px, 1vw, 17px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 2rem;
  max-width: 60%;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}



.aPropos p {
  font-family: Raleway;
  font-size: clamp(10px, 1vw, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  margin-left: 9vw;
  margin-right: 9vw;
  margin-bottom: 0;
}

.aPropos a{
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  margin: 2rem 0 2rem 9vw;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
 }

/*****************************/
/****Domaines d'expertises****/
/*      Page Home            */
/*****************************/

#domainesExpertises {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#domainesExpertises h2 {
  font-size: clamp(20px, 5vw, 60px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 9vw;
  color: #d59c3c;
  line-height: 1.3;
}
#domainesExpertises .textAlignRight {
  display: block;
  text-align: right;
  margin-right: 9vw;
  margin-left: 9vw;
}

#domainesExpertises p{
  font-size: clamp(11px, 1.5vw, 17px);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: #d59c3c;
}
#domainesExpertises .articleAlignLeft {
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

#domainesExpertises .articleAlignRight {
  display: block;
  text-align: right;
  margin-right: 9vw;
  margin-left: 9vw;
}
#domainesExpertises img{
width: 100%; 
height: auto;
display: block;
margin: auto;
max-width: 578px;
}

#domainesExpertises h3{
  font-size: clamp(17px, 3vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 0;
  margin-right: 0;
  color: #d59c3c;
  line-height: 1.3;
}



#domainesExpertises a {
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

#domainesExpertises .textAlignRight a {
  float: right;  
  clear: both;  
}

#domainesExpertises .voirTousProjets{
 margin: 2rem auto;
}

/*****************************/
/*********Contct Form*********/
/*      Page Home            */
/*****************************/

.formContact , .contactSubmitted {
  height: auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/respirateur-767x431.png");
  /* Image par défaut pour mobile */
  background-position: center center;
  /* Centre l'image */
  background-repeat: no-repeat;
  /* Empêche la répétition de l'image */
  background-size: cover;
  /* Agrandit l'image pour couvrir l'élément */
/*padding-bottom: 4rem;*/

}


.formContact h2 , .contactSubmitted h2 {
  font-size: clamp(17px, 5vw, 60px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #d59c3c;
  margin-top: 2rem;
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

.formContact p,
.formContact form {
  margin-top: 1rem;
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

.contactSubmitted a {
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 9vw;
}

.formContact label {
  text-transform: uppercase;
}

.Name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

}

.firstname, .lastname, .email{
  width: 100%;
  
}

#firstname,
#lastname {
  width: 100%;
  height: clamp(24px, 3vw, 48px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}



#email {
  width: 100%;
  height: clamp(24px, 3vw, 48px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#message {
  width: 100%;
  height: clamp(116px, 15vw, 217px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonContact{
  margin: 2rem auto;


}


/**************************************************************************
Portfolio
***************************************************************************/




.portfolioRealisationList{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.portfolioRealisationList li{
  margin: 1rem;
  max-width: 500px;
  padding: 1rem;
}



.portfolioRealisations img {
  width: 100%;
  height: auto;
  margin: auto
  padding: 0;
}

.portfolioRealisations h2 {
  font-size: clamp(17px, 3vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: clamp(5px, 0.01vw, 10px);
   color: #d59c3c;
}

.portfolioRealisations p{
  font-size: clamp(11px, 1.5vw, 17px);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  /* 182.353% */
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: #d59c3c;
}

.portfolioRealisations a{
  font-size: clamp(15px, 2vw, 20px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  padding: 0.9rem 2rem;

  text-decoration: none;
}

.portfolioMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #050819;
  margin: 1rem;
  padding: 1rem 0;
}

.portfolioMenu li {
  cursor: pointer;
  color: var(--Dore, #d59c3c);
  font-family: Raleway;
  font-size: clamp(11px, 1.6vw, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid var(--Dore, #d59c3c);
  padding: 0.5rem 1rem;
  margin: 1rem 17px;


  transition: all 0.6s;
  
}






/**************************************************************************
Realisation
***************************************************************************/
.visuelsOfRealisation h1 {
  font-size: clamp(20px, 5vw, 60px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 3.5rem 0 3rem 4vw;
  max-width: max-content;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}
.visuelsOfRealisation h2 {
  font-size: clamp(17px, 4.5vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: clamp(5px, 0.01vw, 10px);
   color: #d59c3c;
   margin-left: 4vw;
}


.visuelsOfRealisation ul{
  padding: 0;
}

.visuelsOfRealisation img{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.visuelsOfRealisation p {
  font-size: clamp(11px, 2vw, 17px);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  /* 182.353% */
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: #d59c3c;
  margin-left: 4vw;
}


/**************************************************************************
  Small device 
***************************************************************************/
@media screen and (max-width: 779.98px) {
  #logoLeft {
    width: 56px;
    height: auto;
    margin: 1.6rem 2rem;
  }

  #logoCenter {
    display: none;
  }

  header nav.no-border {
    border-bottom: none;
  }

  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 0;
    height: calc(100vh - 100px);
    position: absolute;
    top: 100px;
    right: 0;
    background: var(--navbar-bg-color);
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
  }

  .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
    margin: 1.2rem auto;
  }

  .show-nav .navbar__link {
    transform: translateX(0);
  }

  .navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 15px;
    letter-spacing: 0.15rem;
    color: var(--navbar-color);
    transition: all 0.4s ease-in-out;
  }

  .navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;

    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .hide-logoLeft {
    opacity: 0;
  }

  .bar {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all 0.5s ease-in-out;
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 28px;
    height: 2px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px);
  }

  .bar::after {
    transform: translateY(12px);
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /* Animations */

  .show-nav .first {
    transition: all 1s ease-out;
  }

  .show-nav .second {
    transition: all 1.1s ease-out;
  }

  .show-nav .third {
    transition: all 1.2s ease-out;
  }

  .show-nav .four {
    transition: all 1.3s ease-out;
  }

  .show-nav .five {
    transition: all 1.4s ease-out;
  }
}



/*************************************************************
Page ADMIN : Liste des Themes
**************************************************************/
.listeThemes,
.themeId,
.themeForm,
.createTheme,
.createVisuel,
.realisationForm,
.listeVisuelsByRealisation,
.createVisuelByRealisation{
  background-color: #050819;
  margin-left: 9vw;
}

.themeId h1,
.themeForm h1,
.createTheme h1,
.listeVisuelsByRealisation h1 {
  background-color: var(--navbar-bg-color);
  font-size: clamp(17px, 5vw, 60px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 3.5rem auto 3rem;
  max-width: max-content;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.listeThemes h2,
.themeId h2,
.themeForm h2,
.createTheme h2,
.createRealisation h2,
.createVisuel h2,
.realisationForm h2,
.listeVisuelsByRealisation h2,
.createVisuelByRealisation h2{
  font-size: clamp(19px, 5vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.createRealisation li {
  display: flex;
  align-items: center; /* aligne verticalement les éléments enfants */
  margin : 2rem;
}

.createRealisation input[type="checkbox"] {
  margin-right: 2rem; /* ajoute un espace à droite de la checkbox */
}


.listeThemes p,
.themeId p,
.themeForm p,
.createTheme p 
.listeVisuelsByRealisation p{
  margin-left: 9vw;
}
.rankingTheme,
.nameTheme {
  color: #d59c3c;
  font-size: clamp(15px, 2vw, 20px);
  margin: 1rem;
}
.redirections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   }

   .createVisuelByRealisation a{
    font-family: Raleway;
    font-weight: 500;
    font-size: clamp(15px, 2vw, 20px);
    text-transform: uppercase;
    color: #d59c3c;
    border: #d59c3c solid 1.5px;
    padding: 0.9rem 2rem;
    letter-spacing: 2px;
    text-decoration: none;
    display:inline-block;
    margin-top: 2rem;
  }


.newTheme,
.newVisuel{
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  margin-left: 9vw;
  text-decoration: none;
}

.listeThemes form {
  margin-left: 9vw;
}

i.fa.fa-pencil-square {
  color: #d59c3c;
  font-size: clamp(15px, 2vw, 20px);
  margin: 1rem;
}

/*************************************************************
Page ADMIN : Liste des Réalisations
**************************************************************/

.listeRealisations, .createRealisation {
  margin-left: 9vw;
  background-color: #050819;
}

.listeRealisations img,
.realisationForm img,
.listeVisuelsByRealisation img{
  width: 200px;
  height: auto;
  padding: 0;
}

.listeRealisations h2{
  font-size: clamp(19px, 5vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.listeRealisations p {
  font-family: Raleway;
  font-size: clamp(11px, 2vw, 17px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
    color: #d59c3c;
}

.newRealisation {
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

/*************************************************************
Page ADMIN : Liste des contacts
**************************************************************/

.listeContacts {
  margin-left: 9vw;
  background-color: #050819;
}

.listeContacts h2 {
  font-size: clamp(19px, 5vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.contactRecu {
  border: #d59c3c solid 1.5px;
  margin: 2rem;
  padding: 2rem;
}



/*************************************************************
Page ADMIN : Liste des Visuels
**************************************************************/
.listeVisuels {
  background-color: #050819;
  margin-left: 9vw;
}


.listeVisuels h2 {
  font-size: clamp(19px, 5vw, 35px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.listeVisuels h3 {
  font-family: Raleway;
  font-size: clamp(11px, 2vw, 17px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 2rem;
  max-width: 60%;
  color: #d59c3c;
  text-align: left;
  line-height: 1.3;
}

.listeVisuels img {
  height: 110px;
  width: auto;
  margin: auto;
  padding: 0;
}

.nomRealisation,
.rankingRealisation,
.rankingVisuel,
.nameVisuel,
.listeRealisations img
 {
  color: #d59c3c;
  font-size: clamp(15px, 2vw, 20px);
  margin: 1rem;
}
.newVisuel,
.versVisuelsRealisation {
  font-family: Raleway;
  font-weight: 500;
  font-size: clamp(15px, 2vw, 20px);
  text-transform: uppercase;
  color: #d59c3c;
  border: #d59c3c solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}


/*******************************************************************************
******* Medium device *******
********************************************************************************/
@media screen and (min-width: 780px) {
  .intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Bannière_Intro-1920x869.png");
  }

  .intro a  {

    margin: 2rem auto;
  }


  .aPropos {
    background-image: url("../img/Photo_Profil-1920x1242.png");
  }
.aPropos h2 {
  margin-left: 53%;
  padding-top: 7%;
}


.aPropos h3 {
  margin-left: 53%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.aPropos p {
  margin-left: 53%;
}

.aPropos a {
  margin-left: 53%;
}

  .contact {
    background-image: url("../img/respirateur-1920x1080.png");
  }
  #logoLeft {
    display: none;
  }

  .navbar__link.third {
    display: none;
  }

  .navbar__links,
  .navbar__admins {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__link a,
  .navbar__admins a {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-size: clamp(11px, 1.6vw, 20px);
    letter-spacing: 2px;
    color: var(--Dore, #d59c3c);
  }

  .navbar__link > a::after,
  .navbar__admins > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.4s;
  }

  .navbar__link:hover > a::after {
    width: 100%;
  }



  .intro h1 {
    margin: 4vw auto 10rem auto;
    text-align: center;
  }

  .intro p {
    display: none;
  }

  .intro h2 {
    display: none;
  }

  .intro button {
    margin: 0 auto auto auto;
  }

  .formContact h2 , .contactSubmitted h2 {
    text-align: center;
  }

  .formContact p {
   max-width: 950px;
    text-align: center;
  }
  .formContact form {
  width: 75%;
  max-width: 950px;
}

form .Name {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.firstname, .lastname {
  width: calc(50% - 1.5rem); /* 50% de la largeur totale, moins une marge pour l'espacement */
}

/*****************************/
/****Domaines d'expertises****/
/*       Medium device       */
/*****************************/
.expertise{
  display: flex;
  justify-content: space-between;
  margin-left: 9vw;
  margin-right: 0;
}

.expertiseOrdreInv{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 9vw;
}
#domainesExpertises h3, #domainesExpertises img{
margin-top: 3vw;
}

/*****************************/
/********Contact Form*********/
/*       Medium device       */
/*****************************/
  .contact h1,
  .contact p,
  .contact form {
    text-align: center;
    margin: auto;
  }
}