/*******************************************************************************
INSTRUCTIONS
********************************************************************************



********************************************************************************/


/********************************************************************************
Header et footer 3wa
*********************************************************************************/

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #444;
    text-align: center;
    padding: 15px;
}

.headerTitle {
    color: #DD5735;

    font-size: 3em;

}

.headerSubTitle {
    color: #fff;
    font-size: 1.2em;
}

.footer {
    padding: 2em 0;
    text-align: center;
    color: #fff;
    background-color: #444;
}

.footer a {
    color: #DD5735;
    text-decoration: none;
}

/********************************************************************************