/******************************************************************
GENERAL
******************************************************************/

:root {
  --font-size: 1rem;
  --primary-bg-color: #050819;
  --secondary-bg-color: #030510;
  --primary-txt-color: #d59c3c;
  --secondary-txt-color: #f0f0f0;

  --font-size-h1: clamp(20px, 5vw, 60px);
  --font-size-h2: clamp(19px, 3vw, 35px);
  --font-size-h3: clamp(17px, 3vw, 35px);
  --font-size-h4: clamp(15px, 3vw, 35px);
  --font-size-h5: clamp(15px, 2vw, 20px);
  --font-size-h6: clamp(12px, 2vw, 20px);
  --font-size-h7: clamp(11px, 1.6vw, 20px);
  --font-size-h8: clamp(11px, 1.5vw, 17px);
  --font-size-h9: clamp(11px, 1vw, 17px);
  --font-size-h10: clamp(10px, 1vw, 17px);


}

html {
  font-size: 62.5%;
  background-color: var(--secondary-bg-color);
}

body {
  max-width: 1920px;
  box-sizing: border-box;
  background-color: var(--primary-bg-color);
  margin: 0 auto;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  /* Pour les chiffres */
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 3.5rem auto 3rem;
  max-width: max-content;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

h2 {
  font-size: var(--font-size-h1);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-txt-color);
  line-height: 1.3;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-txt-color);
  line-height: 1.3;
}

#error {
  background-color: white;
}

.error {
  font-family: nosifer;
  font-size: clamp(15px, 6vw, 120px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 auto;
  padding-top: 5vw;
  max-width: max-content;
  background-color: #0000;
  color: var(--primary-bg-color);
  text-align: center;
  line-height: 1.3;
}

#error img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.admin__title {
  font-size: var(--font-size-h4);
  margin: 1rem auto;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: red;
}

p,
label {
  display: block;
  font-size: var(--font-size-h6) font-weight: 300;
  letter-spacing: 0.2em;
  color: var(--primary-txt-color);
  margin-top: 0rem;
  padding: 0;
  line-height: 1.35;
}

.Logout {
  font-size: var(--font-size-h1);
  color: var(--primary-txt-color);
  margin: 2rem auto;
}

input,
textarea {
  font-size: var(--font-size-h6);
  background-color: transparent;
  border: 1px solid var(--primary-txt-color);
  color: var(--primary-txt-color);
}

button {
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1px;
  padding: 1rem 2rem;
  background-color: transparent;
  font-size: var(--font-size-h6);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.logout {
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: transparent;
  font-size: var(--font-size-h1);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  word-wrap: break-word;
}

/******************************************************************
HEADER
******************************************************************/
header nav {
  border-bottom: var(--primary-txt-color) solid 1.5px;
}

ul {
  list-style: none;
}

.navbar {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  background: var(--primary-bg-color);
  color: var(--primary-txt-color);
}

.navbar__link {
  padding: 0 10px;
  transform: translateX(101%);
  transition: all 0.5s ease-in-out;
  margin: 1.2rem auto;
}

.navbar__link>a {
  color: var(--primary-txt-color);
  text-decoration: none;
}

.navbar__logo {
  margin: 0 10vw;
}

.burger {
  display: none;
}

#scrollTop {
  position: fixed;
  right: 30px;
  bottom: 70px;
  cursor: pointer;
  display: none;
}

#scrollTop img {
  width: clamp(30px, 4vw, 70px);
  height: auto;
}


/**************************************************************************
Footer
***************************************************************************/
footer {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  border-top: var(--primary-txt-color) solid 1.5px;
}

.footer--With-Margin {
  margin-top: 2vw;
}


footer .reseauxSociaux {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--primary-bg-color);
}

footer .reseauxSociaux img {
  width: clamp(31px, 5vw, 80px);
  margin: 0 clamp(15px, 2vw, 20px);
  padding: 0;
  height: auto;
}

.logoFooter {
  width: clamp(56px, 5vw, 98px);
  height: auto;
  margin: 2rem;
  cursor: default;
}

.footer__mentionsLegales {
  font-size: var(--font-size-h10);
  font-weight: 500;
  color: var(--primary-txt-color);
  text-decoration: none;
  margin: 1vw auto;
}

.mentionsLegales__text--center {
  text-align: center;
  font-size: var(--font-size-h10);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
  margin-bottom: 5rem;
}

.mentionsLegales__text {
  font-size: var(--font-size-h10);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
}

/***********************************************************************/
/*********  Page Home **************************************************/
/***********************************************************************/

/*****************************/
/************Intro************/
/*      Page Home            */
/*****************************/

.homeIntro {
  height: clamp(456px, 90vw, 869px);
  max-width: 1920px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/Bannière_Intro-1199x543.png");
  background-size: cover;
  background-position: center;
  border-bottom: var(--primary-txt-color) solid 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeIntro__title {
  margin: 0 auto 3rem 10%;
  padding-top: 3.5rem;
  margin-bottom: 2.5rem;
  max-width: 80%;
}

.homeIntro__link {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  margin: 2rem auto 2rem 9vw;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

/*****************************/
/**********A propos***********/
/*      Page Home            */
/*****************************/

.homeAPropos {
  background-image: url("../img/Photo_Profil-767x496.png");
  background-color: var(--primary-bg-color);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  flex-direction: column;
  align-content: end;
  padding-bottom: 4rem;
}

.homeAPropos__titleH2 {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-bottom: 2rem;
  max-width: 65%;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
  padding-top: 40vw;
}

.homeAPropos__titleH3 {
  font-size: var(--font-size-h9);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 2rem;
  max-width: 60%;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}



.homeAPropos__text {
  font-size: var(--font-size-h10);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
  margin-left: 9vw;
  margin-right: 9vw;
  margin-bottom: 0;
}

.homeAPropos__link {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  margin: 2rem 0 2rem 9vw;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
}

/*****************************/
/****Domaines d'expertises****/
/*      Page Home            */
/*****************************/

.home__domainesExpertises {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__domainesExpertises h2 {
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 3vw;
}

.home__domainesExpertises .textAlignRight {
  display: block;
  text-align: right;
  margin-right: 9vw;
  margin-left: 9vw;
}

.home__domainesExpertises p {
  font-size: var(--font-size-h8);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
}

.home__domainesExpertises .articleAlignLeft {
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

.home__domainesExpertises .articleAlignRight {
  display: block;
  text-align: right;
  margin-right: 9vw;
  margin-left: 9vw;
}

.home__domainesExpertises img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 578px;
}

.home__domainesExpertises h3 {
  font-size: var(--font-size-h3);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 0;
  margin-right: 0;
  color: var(--primary-txt-color);
  line-height: 1.3;
}

.home__domainesExpertises a {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.home__domainesExpertises .textAlignRight a {
  float: right;
  clear: both;
}

.home__domainesExpertises .voirTousProjets {
  margin: 4.5vw auto 1.2vw auto;
}

/*****************************/
/*********Contct Form*********/
/*      Page Home            */
/*****************************/

.formContact,
.contactSubmitted {
  margin-top: 2vw;
  height: auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/respirateur-767x431.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContact__title,
.contactSubmitted h2 {
  margin-top: 2rem;
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

.formContact__text,
.formContact form {
  font-size: var(--font-size-h10);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
  margin-top: 1rem;
  margin-bottom: 2vw;
  text-align: left;
  margin-left: 9vw;
  margin-right: 9vw;
}

.contactSubmitted a {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  margin-bottom: 9vw;
}

.formContact label {
  text-transform: uppercase;
}

.Name {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.firstname,
.lastname,
.email {
  width: 100%;
}

#firstname,
#lastname {
  width: 100%;
  height: clamp(24px, 3vw, 48px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#email {
  width: 100%;
  height: clamp(24px, 3vw, 48px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#message {
  width: 100%;
  height: clamp(116px, 15vw, 217px);
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formContact__buttonContact {
  width: 100%;
  margin: 2rem auto;
}


/**************************************************************************
Portfolio
***************************************************************************/

.portfolioShowreelList {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: auto;
}

/* Pour centrer l'image */
.showreel img {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: auto;
  max-width: 100%;
}

/* Pour centrer le texte du titre (h2) */
.showreel h2 {
  text-align: center;
}

/* Pour centrer le texte du paragraphe (p) */
.showreel p {
  text-align: center;
}

/* Pour centrer le lien (En savoir +) */
.showreel a {
  display: block;
  text-align: center;
  padding: 0.9rem 2rem;
  margin: 0 auto;
  max-width: fit-content;

}



.portfolioRealisationList {
  margin: 1rem 1rem 3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.portfolioShowreelList li {
  margin: 1rem;
  padding: 1rem;
}

.portfolioRealisationList li {
  margin: 1rem;
  max-width: 500px;
  padding: 1rem;
}

#realisation__a__img,
#showreel__a__img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  border: none;

}

#showreel__a__img  img{
max-height: 500px;
} 

.portfolioShowreels img {
  width: auto;
  height: 100%;
  margin: auto;
  padding: 0;
}

.portfolioRealisations img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}



.portfolioRealisations h2,
.portfolioShowreels h2 {
  font-size: var(--font-size-h3);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: clamp(5px, 0.01vw, 10px);
  color: var(--primary-txt-color);
}

.portfolioShowreels p {
  font-size: var(--font-size-h8);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
  margin: 0 auto 1.25rem auto;}

.portfolioRealisations p {
  font-size: var(--font-size-h8);
  font-weight: 400;
  line-height: clamp(15px, 3vw, 31px);
  letter-spacing: clamp(2px, 0.3vw, 3.4px);
  color: var(--primary-txt-color);
  margin: 0 auto 2.5rem auto;}

.portfolioRealisations a,
.portfolioShowreels a {
  font-size: var(--font-size-h5);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  text-decoration: none;
}

.portfolioMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--primary-bg-color);
  margin: 1rem;
  padding: 1rem 0;
}

.portfolioMenu li {
  cursor: pointer;
  color: var(--Dore, var(--primary-txt-color));
  font-size: var(--font-size-h7);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid var(--Dore, var(--primary-txt-color));
  padding: 0.5rem 1rem;
  margin: 1rem 17px;
  transition: all 0.6s;
}

/**************************************************************************
Realisation
***************************************************************************/

.visuelsOfRealisation__title {
display : none;
}

.visuelsOfRealisation__subTitle {
display: none;
}

.visuelsOfRealisation__text {
display: none;
}

.visuelsList__text {
  display: none;
}

.visuelsOfRealisation ul {
  padding: 0;
  margin: 0 auto;

}

.visuelsOfRealisation img {
  width: 100%;
  height: auto;
  margin: 0 auto -3px auto;
  padding: 0;
}



.visuelsList video {
  max-width: 1200px;
  width: 63%;
  display: block;
  margin: 3vw auto;
}

.visuelsCaroussel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.caroussel__ArrowsAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.visuelsCaroussel__buttons {
  margin: 0 auto;
}

.visuelsCaroussel__title {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0 auto;
}

.caroussel {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  transition: transform 1s ease;
  align-items: center;
  padding: 10px;
}

.caroussel__item {
  flex: 0 0 clamp(100px, 20vw, 300px);
  margin-bottom: 10px;

}

.caroussel__item__img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: clamp(3px, 1vw, 10px);
}

.caroussel__arrow {
  border: none;
  padding: 0 2rem;
  z-index: 2;
}

.caroussel__arrow__img {
  width: clamp(20px, 3vw, 45px);
  height: auto;
}

.caroussel-fade {
  position: absolute;
  top: 20%;
  bottom: 0;
  width: 20vw;
  z-index: 1;
  pointer-events: none;
}

.caroussel-fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(5, 8, 25, 1), transparent);
}

.caroussel-fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(5, 8, 25, 1), transparent);
}

#logoLeft {
  width: 56px;
  height: auto;
  margin: 1.6rem 2rem;
}

#logoCenter {
  display: none;
}

.navbar__links {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 0;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  right: 0;
  background: var(--primary-bg-color);
  transform: translateX(110%);
  transition: all 0.5s ease-in-out;
}

.navbar__admins a {
  display: block;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  font-size: var(--font-size-h7);
  letter-spacing: 2px;
  color: var(--primary-txt-color);
  margin: auto 1vw;
}

.show-nav .navbar__links {
  width: 100vw;
  transform: translateX(0);
}

.show-nav .navbar__link {
  transform: translateX(0);
}

.navbar__link>a {
  display: block;
  padding: 1rem;
  font-size: 15px;
  letter-spacing: 0.15rem;
  color: var(--primary-txt-color);
  transition: all 0.4s ease-in-out;
}

.navbar__link>a:hover {
  padding-left: 2rem;
  letter-spacing: 5px;
}

/******************************************
Toggle menu 
******************************************/
.burger {
  display: block;
  position: relative;

  padding: 0;
  width: 45px;
  height: 45px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hide-logoLeft {
  opacity: 0;
}

.bar {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 3px;
  background: var(--primary-txt-color);
  transition: all 0.5s ease-in-out;
}

.bar::before,
.bar::after {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  left: 0;
  background: var(--primary-txt-color);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.bar::before {
  transform: translateY(-12px);
}

.bar::after {
  transform: translateY(12px);
}

.show-nav .bar {
  width: 0;
  background: transparent;
}

.show-nav .bar::before {
  transform: rotate(45deg);
}

.show-nav .bar::after {
  transform: rotate(-45deg);
}

/****************************************************
************** Animations **************************** 
*****************************************************/

.show-nav .first {
  transition: all 1s ease-out;
}

.show-nav .second {
  transition: all 1.1s ease-out;
}

.show-nav .third {
  transition: all 1.2s ease-out;
}

.show-nav .four {
  transition: all 1.3s ease-out;
}

.show-nav .five {
  transition: all 1.4s ease-out;
}

/*************************************************************
****************** page Mentions légales *********************
**************************************************************/
.mentionsLegales {
  margin-left: 9vw;
  margin-right: 9vw;
}

.mentionsLegales__p-enVigeur {
  text-align: center;
}

.mentionsLegales__h2 {
  font-size: var(--font-size-h3);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-txt-color);
  line-height: 1.3;
}

/*************************************************************
******************* Page ADMIN : Login ***********************
**************************************************************/
.Login__form {
  margin-left: 9vw;
}



/*************************************************************
**************** Page ADMIN : Liste des Themes ***************
**************************************************************/
.listeThemes,
.themeId,
.themeForm,
.createTheme,
.createVisuel,
.realisationForm,
.listeVisuelsByRealisation,
.createVisuelByRealisation {
  background-color: var(--primary-bg-color);
  margin-left: 9vw;
}

.themeId h1,
.themeForm h1,
.createTheme h1,
.listeVisuelsByRealisation h1 {
  margin: 3.5rem auto 3rem;
  max-width: max-content;
}

.listeThemes h2,
.themeId h2,
.themeForm h2,
.createTheme h2,
.createRealisation h2,
.createVisuel h2,
.realisationForm h2,
.listeVisuelsByRealisation h2,
.createVisuelByRealisation h2 {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

.realisationForm li,
.createRealisation li {
  display: flex;
  align-items: center;
  margin: 2rem;
}

.realisationForm input[type="checkbox"],
.createRealisation input[type="checkbox"] {
  margin-right: 2rem;
}


.listeThemes p,
.themeId p,
.themeForm p,
.createTheme p .listeVisuelsByRealisation p {
  margin-left: 9vw;
}

.rankingTheme,
.nameTheme {
  color: var(--primary-txt-color);
  font-size: var(--font-size-h5);
  margin: 1rem;
}

.redirections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.createVisuelByRealisation a {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem;
}

.newTheme,
.newVisuel {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  margin-left: 9vw;
  text-decoration: none;
}

.listeThemes form {
  margin-left: 9vw;
}

i.fa.fa-pencil-square {
  color: var(--primary-txt-color);
  font-size: var(--font-size-h5);
  margin: 1rem;
}

/*************************************************************
********* Page ADMIN : Liste des Réalisations ****************
**************************************************************/

.listeRealisations,
.createRealisation {
  margin-left: 9vw;
  background-color: var(--primary-bg-color);
}

.listeRealisations img,
.realisationForm img,
.listeVisuelsByRealisation img {
  width: 200px;
  height: auto;
  padding: 0;
}

.listeVisuelsByRealisation__video {
  width: 20%;
}

.listeRealisations h2 {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

.listeRealisations p {
  font-size: var(--font-size-h8);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--primary-txt-color);
}

.newRealisation {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

/*************************************************************
************ Page ADMIN : Liste des contacts *****************
**************************************************************/

.listeContacts {
  margin-left: 9vw;
  background-color: var(--primary-bg-color);
}

.listeContacts h2 {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

.contactRecu {
  border: var(--primary-txt-color) solid 1.5px;
  margin: 2rem;
  padding: 2rem;
}



/*************************************************************
************* Page ADMIN : Liste des Visuels *****************
**************************************************************/
.listeVisuels {
  background-color: var(--primary-bg-color);
  margin-left: 9vw;
}

.listeVisuels h2 {
  font-size: var(--font-size-h2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

.listeVisuels h3 {
  font-size: var(--font-size-h8);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 9vw;
  margin-right: 9vw;
  margin-top: 2rem;
  max-width: 60%;
  color: var(--primary-txt-color);
  text-align: left;
  line-height: 1.3;
}

.listeVisuels img {
  height: 110px;
  width: auto;
  margin: auto;
  padding: 0;
}


.nomRealisation,
.rankingRealisation,
.rankingVisuel,
.nameVisuel,
.typeVisuel,
.commentaireVisuel,
.listeRealisations img {
  color: var(--primary-txt-color);
  font-size: var(--font-size-h5);
  margin-top: 1rem;
  margin-bottom: 0;
}


.newVisuel,
.versVisuelsRealisation {
  font-weight: 500;
  font-size: var(--font-size-h5);
  text-transform: uppercase;
  color: var(--primary-txt-color);
  border: var(--primary-txt-color) solid 1.5px;
  padding: 0.9rem 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

/*******************************************************************************
************************ Medium device *****************************************
********************************************************************************/
@media screen and (min-width: 780px) {
  .homeIntro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Bannière_Intro-1920x869.png");
  }

  .homeIntro__title {
    margin: 4vw auto 10rem auto;
    text-align: center;
  }

  .homeIntro__link {

    margin: 2rem auto;
  }

  .homeAPropos {
    background-image: url("../img/Backgound_A_Propos.png");
    min-height: clamp(747px, 56.25vw, 1080px);
  }

  .homeAPropos__titleH2 {
    margin-left: 53%;
    padding-top: 7%;
  }

  .homeAPropos__titleH3 {
    margin-left: 53%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .homeAPropos__text {
    margin-left: 53%;
  }

  .homeAPropos__link {
    margin-left: 53%;
  }

  #scrollTop {
    right: 70px;
    z-index: 5;
  }

  .contact {
    background-image: url("../img/respirateur-1920x1080.png");
  }

  #logoLeft {
    display: none;
  }

  #logoCenter {
    display: block;
    width: clamp(56px, 5vw, 98px);
    height: auto;
    margin: 1.6rem 2rem;
  }

  .navbar__link.third {
    display: none;
  }

  .navbar__links .navbar__link {
    transform: none;
    margin: auto;
  }

  .burger {
    display: none;
  }

  .navbar__links,
  .navbar__admins {
    width: auto;
    margin: auto;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: none;
    flex-direction: row;
    height: auto;
    position: unset;
    overflow: initial;
  }

  .navbar__link {
    padding: 0;
    transform: none;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__link a,
  .navbar__admins a {
    display: block;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-size: var(--font-size-h7);
    letter-spacing: 2px;
    color: var(--primary-txt-color);
    margin: auto 1vw;
  }

  .navbar__link>a:hover {
    padding-left: 1rem;
    letter-spacing: 2px;
  }

  .navbar__link>a::after,
  .navbar__admins>a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary-txt-color);
    transition: width 0.4s;
  }

  .navbar__link:hover>a::after {
    width: 100%;
  }

  .formContact__title,
  .contactSubmitted h2 {
    text-align: center;
  }

  .formContact__text {
    max-width: 950px;
    text-align: center;
  }

  .formContact form {
    width: 75%;
    max-width: 950px;
  }

  form .Name {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .firstname,
  .lastname {
    width: calc(50% - 1.5rem);
   
  }

  /******************************************************
  **************Domaines d'expertises*******************
  *****************Medium device ***********************
  ******************************************************/
  .expertise {
    display: flex;
    justify-content: space-between;
    margin-left: 9vw;
    margin-right: 0;
  }

  .expertiseOrdreInv {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 9vw;
  }

  .home__domainesExpertises h3,
  .home__domainesExpertises img {
    margin-top: 3vw;
  }

  .home__domainesExpertises .textAlignRight {
    text-align: center;
  }

  /*****************************************************/
  /**************** Contact Form ***********************/
  /**************** Medium device **********************/
  /*****************************************************/
  .contact p,
  .contact form {
    text-align: center;
    margin: auto;
  }
}


